Lab5/haml/about.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main
        .history
          .limitation
            .history-bg.about-bg
            .history-content
              .history-content-header
                %h1 Our history
              .history-text
                %p
                  Access denied Access denied Access denied Access denied
                  Access denied Access denied Access denied Access denied Access denied
                  Access denied Access denied!!!
                %p
                  Access denied Access denied Access denied Access denied
                  Access denied Access denied Access denied Access denied Access denied
                  Access denied Access denied, There is NOTHING!!!
              .helper-button
                %span Browse your work
      = Haml::Engine.new(File.read('haml/footer.haml')).render

Lab1/about.html
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Web for Mister Zabashtanskyi</title>
  <link rel="icon" href="img/icon.png">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="root">
    <header>
      <div class="limitation">
        <div id="header-top">
          <a href="index.html"><img src = "img/logo.png" alt = "Logo"></a>
          <nav>
            <ul>
              <li><a href = "tests.html"></a></li>
              <li><a href = "study.html">My Study</a></li>
              <li><a href = "hobby.html">Hobbies</a></li>
              <li><a href = "gallery.html">My Photo</a></li>
              <li><a href = "contacts.html">Contacts</a></li>
              <li><a href = "about.html">About me</a></li>
              <li><a href = "index.html">Home</a></li>
            </ul>
          </nav>
        </div>
        <div id="header-description">
          <h2>What about you? Are you still his girl, Beverly?</h2>
          <h1>Something about me</h1>
          <div class="spacer">
            <img src="img/spacer.png" alt="spacer">
          </div>
          <div class="text-limiter">
            <p>
              Who are you? No, stop. Who is me??
              Maybe, am I manager? Noooooo!!!
              Maybe, want I to be seller? Nooo.
              Developer? Maybe...
            </p>
          </div>
          <div class="helper-buttons">
            <div class="helper-button">
              <span>Get started now</span>
            </div>
            <div class="helper-button">
              <span>Learn more</span>
            </div>
          </div>
        </div>
        <div id="header-pivot">
          <div id="header-pivot-body">
            <img src="img/pivot.png" alt="piv">
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="history">
        <div class="limitation">
          <div class="history-bg about-bg"></div>
          <div class="history-content">
            <div class="history-content-header">
              <h1>Our history</h1>
            </div>
            <div class="history-text">
              <p>Access denied Access denied Access denied Access denied
                Access denied Access denied Access denied Access denied Access denied
                Access denied Access denied!!!
              </p>
              <p>Access denied Access denied Access denied Access denied
                Access denied Access denied Access denied Access denied Access denied
                Access denied Access denied, There is NOTHING!!!
              </p>
            </div>
            <div class="helper-button">
              <span>Browse your work</span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="limitation">
        <div id="socials">
          <a href="https://vk.com/misterclass"><img src="img/socicon1.png" alt="vk"></a>
        </div>
        <span>Mister Class &copy All Rights Reserved</span>
      </div>
    </footer>
</body>
</html>
