Lab5/build/contacts.html
<!DOCTYPE html>
<html lang='en'>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta charset='UTF-8'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='ie=edge' http-equiv='X-UA-Compatible'>
<title>Web for Mister Zabashtanskyi</title>
<link href='img/icon.png' rel='icon'>
<link href='css/style.css' rel='stylesheet'>
</head>
<body>
<div id='root'>
<body>
<header>
<div class='limitation'>
<div id='header-top'>
<a href='index.html'>
<img alt='Logo' src='img/logo.png'>
</a>
<nav>
<ul>
<li>
<a href='study.html'>My Study</a>
</li>
<li>
<a href='hobby.html'>Hobbies</a>
</li>
<li>
<a href='gallery.html'>My Photo</a>
</li>
<li>
<a href='contacts.html'>Contacts</a>
</li>
<li>
<a href='about.html'>About me</a>
</li>
<li>
<a href='index.html'>Home</a>
</li>
</ul>
</nav>
</div>
<div id='header-description'>
<h2>My honor is my first priority...</h2>
<h1>Welcome, Guys!</h1>
<div class='spacer'>
<img alt='spacer' src='img/spacer.png'>
</div>
<div class='text-limiter'>
<p>
Greeting you, pretty boys and beauties!
My name is Paul Polbitsev. I'm web developer and there is my
first lab)
</p>
</div>
<div class='helper-buttons'>
<div class='helper-button'>
<span>Get started now</span>
</div>
<div class='helper-button'>
<span>Learn more</span>
</div>
</div>
</div>
<div id='header-pivot'>
<div id='header-pivot-body'>
<img alt='piv' src='img/pivot.png'>
</div>
</div>
</div>
</header>
</body>

<main class='main-margin'>
<div id='form'>
<div class='limitation'>
<div class='form-header'>
<h2>Feedback</h2>
<p>To send message for one pretty boy(:</p>
<div class='spacer'>
<img alt='spacer' src='img/spacer.png'>
</div>
</div>
<div class='feedback'>
<div class='feedback-info'>
<div class='feedback-info-block'>
<h3>Our Adress</h3>
<p>House #13, Dybenko Street, Sevastopol, Russia</p>
</div>
<div class='feedback-info-block'>
<h3>Call Us</h3>
<p>+7 978 555-55-55</p>
</div>
<div class='feedback-info-block'>
<h3>Email Us</h3>
<p>misterclass2909@yandex.ru</p>
<p>misterclasspol@gmail.com</p>
</div>
</div>
<div class='feedback-form'>
<form action='mailto:misterclass2909@yandex.ru' method='POST' name='form'>
<input autocomplete='off' name='name' placeholder='Name' type='text'>
<input autocomplete='off' name='email' placeholder='Email' type='text'>
<input name='pol' type='radio' value='Male'>
<p>Male</p>
<input name='pol' type='radio' value='Female'>
<p>Female</p>
<select form='form' id='select-age' name='age' size='1'>
<option value='18'>18</option>
<option value='19'>19</option>
<option value='20'>20</option>
<option value='21'>21</option>
<option value='22'>22</option>
<option value='23'>23</option>
</select>
<input class='helper-button' type='submit' value='Submit'>
<span>Кто дизайнер этой шляпы???</span>
</form>
</div>
</div>
</div>
</div>
</main>
<footer>
<div class='limitation'>
<div id='socials'>
<a href='https://vk.com/misterclass'>
<img alt='vk' src='img/socicon1.png'>
</a>
</div>
<span>Mister Class &amp;copy All Rights Reserved</span>
</div>
</footer>

</div>
</body>
</html>

Lab5/haml/contacts.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main.main-margin
        #form
          .limitation
            .form-header
              %h2 Feedback
              %p To send message for one pretty boy(:
              .spacer
                %img{:alt => "spacer", :src => "img/spacer.png"}/
            .feedback
              .feedback-info
                .feedback-info-block
                  %h3 Our Adress
                  %p House #13, Dybenko Street, Sevastopol, Russia
                .feedback-info-block
                  %h3 Call Us
                  %p +7 978 555-55-55
                .feedback-info-block
                  %h3 Email Us
                  %p misterclass2909@yandex.ru
                  %p misterclasspol@gmail.com
              .feedback-form
                %form{:action => "mailto:misterclass2909@yandex.ru", :method => "POST", :name => "form"}
                  %input{:autocomplete => "off", :name => "name", :placeholder => "Name", :type => "text"}/
                  %input{:autocomplete => "off", :name => "email", :placeholder => "Email", :type => "text"}/
                  %input{:name => "pol", :type => "radio", :value => "Male"}/
                  %p Male
                  %input{:name => "pol", :type => "radio", :value => "Female"}/
                  %p Female
                  %select#select-age{:form => "form", :name => "age", :size => "1"}
                    %option{:value => "18"} 18
                    %option{:value => "19"} 19
                    %option{:value => "20"} 20
                    %option{:value => "21"} 21
                    %option{:value => "22"} 22
                    %option{:value => "23"} 23
                  %input.helper-button{:type => "submit", :value => "Submit"}/
                  %span Кто дизайнер этой шляпы???
      = Haml::Engine.new(File.read('haml/footer.haml')).render
