Lab5/header.html
<header>
  <div class="limitation">
    <div id="header-top">
      <a href="index.html"><img src = "img/logo.png" alt = "Logo"></a>
      <nav>
        <ul>
          <li><a href = "tests.html"></a></li>
          <li><a href = "study.html">My Study</a></li>
          <li><a href = "hobby.html">Hobbies</a></li>
          <li><a href = "gallery.html">My Photo</a></li>
          <li><a href = "contacts.html">Contacts</a></li>
          <li><a href = "about.html">About me</a></li>
          <li><a href = "index.html">Home</a></li>
        </ul>
      </nav>
    </div>
    <div id="header-description">
      <h2>My honor is my first priority...</h2>
      <h1>Welcome, Guys!</h1>
      <div class="spacer">
        <img src="img/spacer.png" alt="spacer">
      </div>
      <div class="text-limiter">
        <p>
          Greeting you, pretty boys and beauties!
          My name is Paul Polbitsev. I'm web developer and there is my
          first lab)
        </p>
      </div>
      <div class="helper-buttons">
        <div class="helper-button">
          <span>Get started now</span>
        </div>
        <div class="helper-button">
          <span>Learn more</span>
        </div>
      </div>
    </div>
    <div id="header-pivot">
      <div id="header-pivot-body">
        <img src="img/pivot.png" alt="piv">
      </div>
    </div>
  </div>
</header>

Lab5/haml/header.haml
%body
  %header
    .limitation
      #header-top
        %a{:href => "index.html"}
          %img{:alt => "Logo", :src => "img/logo.png"}/
        %nav
          %ul
            %li
              %a{:href => "study.html"} My Study
            %li
              %a{:href => "hobby.html"} Hobbies
            %li
              %a{:href => "gallery.html"} My Photo
            %li
              %a{:href => "contacts.html"} Contacts
            %li
              %a{:href => "about.html"} About me
            %li
              %a{:href => "index.html"} Home
      #header-description
        %h2 My honor is my first priority...
        %h1 Welcome, Guys!
        .spacer
          %img{:alt => "spacer", :src => "img/spacer.png"}/
        .text-limiter
          %p
            Greeting you, pretty boys and beauties!
            My name is Paul Polbitsev. I'm web developer and there is my
            first lab)
        .helper-buttons
          .helper-button
            %span Get started now
          .helper-button
            %span Learn more
      #header-pivot
        #header-pivot-body
          %img{:alt => "piv", :src => "img/pivot.png"}/
