Lab5/build/index.html
<!DOCTYPE html>
<html lang='en'>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta charset='UTF-8'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='ie=edge' http-equiv='X-UA-Compatible'>
<title>Web for Mister Zabashtanskyi</title>
<link href='img/icon.png' rel='icon'>
<link href='css/style.css' rel='stylesheet'>
</head>
<body>
<div id='root'>
<body>
<header>
<div class='limitation'>
<div id='header-top'>
<a href='index.html'>
<img alt='Logo' src='img/logo.png'>
</a>
<nav>
<ul>
<li>
<a href='study.html'>My Study</a>
</li>
<li>
<a href='hobby.html'>Hobbies</a>
</li>
<li>
<a href='gallery.html'>My Photo</a>
</li>
<li>
<a href='contacts.html'>Contacts</a>
</li>
<li>
<a href='about.html'>About me</a>
</li>
<li>
<a href='index.html'>Home</a>
</li>
</ul>
</nav>
</div>
<div id='header-description'>
<h2>My honor is my first priority...</h2>
<h1>Welcome, Guys!</h1>
<div class='spacer'>
<img alt='spacer' src='img/spacer.png'>
</div>
<div class='text-limiter'>
<p>
Greeting you, pretty boys and beauties!
My name is Paul Polbitsev. I'm web developer and there is my
first lab)
</p>
</div>
<div class='helper-buttons'>
<div class='helper-button'>
<span>Get started now</span>
</div>
<div class='helper-button'>
<span>Learn more</span>
</div>
</div>
</div>
<div id='header-pivot'>
<div id='header-pivot-body'>
<img alt='piv' src='img/pivot.png'>
</div>
</div>
</div>
</header>
</body>

<main>
<div id='competence'>
<div class='limitation'>
<div class='competence-item'>
<div class='competence-bg'>
<div class='competence-bg-border'>
<img alt='bg' src='img/compentence1.png'>
</div>
<h3>Дизайн</h3>
</div>
<div class='spacer'></div>
<p>
Я черпал вдохновения для создания дизайна из psd-макета одного сайта...
Весь материал и решения черпал оттуда, ибо фиг вам, а не "придумывать свое")
</p>
</div>
<div class='competence-item'>
<div class='competence-bg'>
<div class='competence-bg-border'>
<img alt='bg' src='img/compentence2.png'>
</div>
<h3>Технология</h3>
</div>
<div class='spacer'></div>
<p>
Сайт создан с помощью 3-х основных технологий:
html, css, гребаное терпение.
</p>
</div>
<div class='competence-item'>
<div class='competence-bg'>
<div class='competence-bg-border'>
<img alt='bg' src='img/compentence3.png'>
</div>
<h3>Перспективы</h3>
</div>
<div class='spacer'></div>
<p>
Сайт является площадкой для дальнейших лабораторных работ по вебу.
Возможна разработка нестандартных интересных скриптов.
</p>
</div>
<div class='competence-item'>
<div class='competence-bg'>
<div class='competence-bg-border'>
<img alt='bg' src='img/compentence4.png'>
</div>
<h3>Поддержка</h3>
</div>
<div class='spacer'></div>
<p>
Проект поддерживается, пока к нему есть интерес.
Мой) И... Может еще кого-нибудь.
</p>
</div>
</div>
</div>
<div id='team'>
<div id='team-graphic'>
<div id='team-header'>
<h2>My dream Team</h2>
<h4>С кем я готов работать всегда и везде</h4>
<div class='spacer'>
<img alt='spacer' src='img/spacer.png'>
</div>
</div>
<div id='team-content'>
<div class='limitation'>
<div class='teammate'>
<div class='teammate-photo nadya'></div>
<div class='vert-spacer'></div>
<div class='teammate-info'>
<p>Жукова Надя</p>
<p>Working beauty(:</p>
</div>
</div>
<div class='teammate'>
<div class='teammate-photo stroganov'></div>
<div class='vert-spacer'></div>
<div class='teammate-info'>
<p>Строганов Виктор</p>
<p>Хороший человек и лучший преподаватель</p>
</div>
</div>
<div class='teammate'>
<div class='teammate-photo zab'></div>
<div class='vert-spacer'></div>
<div class='teammate-info'>
<p>Забаштанский Андрей</p>
<p>Бойтесь этого человека...</p>
</div>
</div>
<div class='teammate'>
<div class='teammate-photo misterclass'></div>
<div class='vert-spacer'></div>
<div class='teammate-info'>
<p>Rafail</p>
<p>Самый лучший из армян</p>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<footer>
<div class='limitation'>
<div id='socials'>
<a href='https://vk.com/misterclass'>
<img alt='vk' src='img/socicon1.png'>
</a>
</div>
<span>Mister Class &amp;copy All Rights Reserved</span>
</div>
</footer>

</div>
</body>
</html>

Lab5/haml/index.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main
        #competence
          .limitation
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence1.png"}/
                %h3 Дизайн
              .spacer
              %p
                Я черпал вдохновения для создания дизайна из psd-макета одного сайта...
                Весь материал и решения черпал оттуда, ибо фиг вам, а не "придумывать свое")
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence2.png"}/
                %h3 Технология
              .spacer
              %p
                Сайт создан с помощью 3-х основных технологий:
                html, css, гребаное терпение.
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence3.png"}/
                %h3 Перспективы
              .spacer
              %p
                Сайт является площадкой для дальнейших лабораторных работ по вебу.
                Возможна разработка нестандартных интересных скриптов.
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence4.png"}/
                %h3 Поддержка
              .spacer
              %p
                Проект поддерживается, пока к нему есть интерес.
                Мой) И... Может еще кого-нибудь.
        #team
          #team-graphic
            #team-header
              %h2 My dream Team
              %h4 С кем я готов работать всегда и везде
              .spacer
                %img{:alt => "spacer", :src => "img/spacer.png"}/
            #team-content
              .limitation
                .teammate
                  .teammate-photo.nadya
                  .vert-spacer
                  .teammate-info
                    %p Жукова Надя
                    %p Working beauty(:
                .teammate
                  .teammate-photo.stroganov
                  .vert-spacer
                  .teammate-info
                    %p Строганов Виктор
                    %p Хороший человек и лучший преподаватель
                .teammate
                  .teammate-photo.zab
                  .vert-spacer
                  .teammate-info
                    %p Забаштанский Андрей
                    %p Бойтесь этого человека...
                .teammate
                  .teammate-photo.misterclass
                  .vert-spacer
                  .teammate-info
                    %p Rafail
                    %p Самый лучший из армян
      = Haml::Engine.new(File.read('haml/footer.haml')).render
